@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,500&display=swap");

.header {
  /* background-color: rgba(41, 38, 38, 0.5); */
  background-color: transparent;
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 2;
  font-family: "DM Sans", sans-serif;
  color: white;
  position: fixed;
  height: 7rem;
}

/* .slider {
  position: fixed;
  min-width: 100%;
  height: 100vh;
  right: -100%;
  top: 0;
  background-color: rgb(44, 36, 36);
  transition: 1s ease;
  z-index: 2;
} */
.coder {
  display: inline !important;
  font-size: 29px;
  margin-right: 4px;
}
.slider.active {
  right: 0;
  transition: 1s ease;
}
/* .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider ul {
  width: 100%;
  transition: 1s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0;
}
.slider ul li {
  margin-block: 0.5rem;
  margin-inline: 2rem;
  list-style: none;
}
.slider ul li .a:hover {
  color: #fff;
}
.slider ul li a {
  display: inline-block;
  position: relative;
  /* color: #fff; */
}
.slider ul li .a::after {
  content: "";
  display: block;

  margin: 0;
  height: 3px;
  width: 0;
  background-color: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.slider ul li .a:hover::after {
  width: 100%;
  background-color: #0078ff;
}
.header .logo {
  display: none;
}
.slider ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.menu-icon .menu {
  display: none;
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
.closed {
  display: none;
  color: #fff;
  cursor: pointer;
  width: 100%;
  justify-content: flex-start;
}
.closed .close {
  font-size: 25px;
}
.slider ul .mygreen {
  background-color: #0078ff;
  border-radius: 4px;
  padding: 10px 30px;
}
.slider .medialogo h4 {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.header h4 {
  color: white;
}
@media only screen and (max-width: 992px) {
  .header {
    padding-top: 20px;
  }
  .slider {
    position: fixed;
    min-width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: rgb(26, 23, 23);
    transition: 0.5s ease;
    z-index: 22;
  }
  .slider .medialogo {
    display: none;
  }

  .slider.active {
    right: 0;
    transition: 0.5s ease;
  }
  .header .logo {
    display: block;
  }
  .slider ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 8px;
    /* transform: translateY(-80px); */
  }
  .slider ul li {
    margin-block: 2rem;
    list-style: none;
  }
  .slider ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #fff;
  }

  .menu-icon {
    display: flex;
    justify-content: space-between;
    padding: 7px;
  }
  .menu-icon .menu {
    display: block;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
  }
  .closed {
    display: flex;
    color: #fff;
    cursor: pointer;
    padding: 22px;
    width: 100%;
    top: 0;
    justify-content: flex-end;
  }
  .closed .close {
    font-size: 30px;
  }
}
